.CONTAINER.VERNA{
POSITION:ABSOLUTE;
BOTTOM:50PX;
LEFT:25PX;
HEIGHT:35PX;
WIDTH:90PX;



}

.CONTAINER.CRETA{
POSITION:ABSOLUTE;
BOTTOM:-5PX;
LEFT:220PX;

HEIGHT:35PX;
WIDTH:1000PX;


}