.CONTAINER{
POSITION:RELATIVE;
WIDTH:100PX;
MAX-WIDTH:400PX;
}

.CONTAINER IMG{
WIDTH:1920PX;
HEIGHT:1000PX;
}


.CONTAINER .BTN{
POSITION:ABSOLUTE;
BOTTOM:120PX;
LEFT:1600PX;
HEIGHT:35PX;
WIDTH:90PX;
BORDER:NONE;
}
.BTN:hover {
      background-color:#87CEEB;
}



.CONTAINER{
POSITION:RELATIVE;
WIDTH:1000PX;
MAX-WIDTH:400PX;
}

.CONTAINER IMG{
WIDTH:1920PX;
HEIGHT:1000PX;
}


.CONTAINER .BTS{
POSITION:ABSOLUTE;
BOTTOM:75PX;
LEFT:1500PX;
HEIGHT:35PX;
WIDTH:90PX;
BORDER:NONE;
}
.BTS:hover {
      background-color:#87CEEB;
}


.CONTAINER .SMW{
POSITION:ABSOLUTE;
BOTTOM:75PX;
LEFT:1600PX;
BORDER:NONE;
HEIGHT:35PX;
WIDTH:90PX;


}
.SMW:hover {
      background-color:#87CEEB;
}


.CONTAINER .RB{
POSITION:ABSOLUTE;
BOTTOM:120PX;
LEFT:1500PX;
BORDER:NONE;
HEIGHT:35PX;
WIDTH:90PX;
BORDER:NONE;
}

.RB:hover {
      background-color:#87CEEB;
}




.CONTAINER .BT{
POSITION:ABSOLUTE;
BOTTOM:120PX;
LEFT:150PX;
BORDER:NONE;
HEIGHT:35PX;
WIDTH:90PX;
BORDER:NONE;
}

.CONTAINER .VTS{
POSITION:ABSOLUTE;
BOTTOM:475PX;
LEFT:520PX;
BORDER:NONE;
HEIGHT:35PX;
WIDTH:90PX;
BORDER:NONE;
}


.CONTAINER .VTB{
POSITION:ABSOLUTE;
BOTTOM:227PX;
LEFT:520PX;
BORDER:NONE;
HEIGHT:35PX;
WIDTH:90PX;
BORDER:NONE;
}

.CONTAINER .VTD{
POSITION:ABSOLUTE;
BOTTOM:1PX;
LEFT:520PX;
BORDER:NONE;
HEIGHT:35PX;
WIDTH:90PX;
BORDER:NONE;
}


.CONTAINER .ERA{
POSITION:ABSOLUTE;
BOTTOM:1PX;
LEFT:820PX;
BORDER:NONE;
HEIGHT:35PX;
WIDTH:90PX;
BORDER:NONE;
}

.CONTAINER .MAG{
POSITION:ABSOLUTE;
BOTTOM:1PX;
LEFT:1120PX;
BORDER:NONE;
HEIGHT:35PX;
WIDTH:90PX;
BORDER:NONE;
}

.CONTAINER .MAC{
POSITION:ABSOLUTE;
BOTTOM:1PX;
LEFT:1420PX;
BORDER:NONE;
HEIGHT:35PX;
WIDTH:90PX;
BORDER:NONE;
}

.CONTAINER .AAG{
POSITION:ABSOLUTE;
BOTTOM:227PX;
LEFT:820PX;
BORDER:NONE;
HEIGHT:35PX;
WIDTH:90PX;
BORDER:NONE;
}
.CONTAINER .AGG{
POSITION:ABSOLUTE;
BOTTOM:475PX;
LEFT:820PX;
BORDER:NONE;
HEIGHT:35PX;
WIDTH:90PX;
BORDER:NONE;
}
.CONTAINER .MAN{
POSITION:ABSOLUTE;
BOTTOM:475PX;
LEFT:1120PX;
BORDER:NONE;
HEIGHT:35PX;
WIDTH:90PX;
BORDER:NONE;
}

.CONTAINER .CAN{
POSITION:ABSOLUTE;
BOTTOM:227PX;
LEFT:1420PX;
BORDER:NONE;
HEIGHT:35PX;
WIDTH:90PX;
BORDER:NONE;
}
.CONTAINER .SHI{
POSITION:ABSOLUTE;
BOTTOM:475PX;
LEFT:1420PX;
BORDER:NONE;
HEIGHT:35PX;
WIDTH:90PX;
BORDER:NONE;
}


.CONTAINER .NAV{
POSITION:ABSOLUTE;
BOTTOM:227PX;
LEFT:1120PX;
BORDER:NONE;
HEIGHT:35PX;
WIDTH:90PX;
BORDER:NONE;
}

