.CONTAINER .WHATSAPP{
POSITION:ABSOLUTE;
BOTTOM:-5PX;
LEFT:215PX;
HEIGHT:35PX;
WIDTH:90PX;

}
.WHATSAPP {
      background-color:#000F4D;
color: white;
}




.CONTAINER{
POSITION:RELATIVE;
WIDTH:550PX;
MAX-WIDTH:320PX;
HEIGHT=1000PX
BORDER:NONE;
}


.CONTAINER.SUBMIT SERVICE{
POSITION:ABSOLTE;
BOTTOM:-5PX;
LEFT:220PX;

HEIGHT:35PX;
WIDTH:90PX;


}

.SUBMIT SERVICE {
      background-color:#000336;
color: white;
}


.CONTAINER.VERNA{
POSITION:RELATIVE;
BOTTOM:10PX;
RIGHT:20PX;

HEIGHT:35PX;
WIDTH:90PX;


}
